DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST/DB?sslmode=require&channel_binding=require"
MASTER_ADMIN_EMAIL="you@example.com"
MASTER_ADMIN_PASSWORD="changeme"
